.meaning-section {
    margin-bottom: 20px;
}

.meaning-section h3 {
    font-family: var(--body-font-family);
    font-style: italic;
    font-size: 1.2rem;
    color: var(--font-color);
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .meaning-section h3 {
        font-size: 1rem;
    }
}