.word-header {
    margin-left: 20px;
    margin-bottom: 20px;
}

.word-header h2 {
    font-family: var(--body-font-family);
    font-size: 2rem;
    font-weight: 400;
    color: var(--font-color);
}

.word-header h2 sup {
    font-size: 1rem;
}

.word-header p {
    font-family: var(--body-font-family);
    font-size: 1rem;
    color: var(--font-color);
}

@media screen and (max-width: 600px) {
    .word-header h2 {
        font-size: 1.5rem;
    }

    .word-header h2 sup {
        font-size: 0.7rem;
        position: relative;
        top: -5px;
    }

    .word-header p {
        font-size: 0.8rem;
    }
}