.header__primary-header,
.header__secondary-header {
    font-family: var(--header-font-family);
    color: var(--font-color);
}

.header__primary-header {
    font-size: 8rem;
    line-height: 80px;
    word-spacing: 0;
    font-weight: 500;
}

.header__secondary-header {
    margin-top: 5px;
    padding-left: 5px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 20px;
}

@media screen and (max-width: 780px) {
    .header__primary-header {
        font-size: 6rem;
    }
}

@media screen and (max-width: 700px) {
    .header {
        width: 100%;
        margin: 60px 0 30px;
        text-align: center;
    }

    .header__primary-header {
        font-size: 7rem;
    }

    .header__secondary-header {
        font-size: 2rem;
    }
}
