@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --background-color: #E9FBF8;
    --header-font-family: 'Dongle', sans-serif;
    --body-font-family: 'Roboto', sans-serif;
    --font-color: #2E3F41;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    color: var(--background-color);
    background-color: var(--font-color);
}